/****************************/
/***** media queries ********/
/****************************/
@media (max-width:768px) {
  .page2 {
    .page-container {
      flex-direction: column-reverse;
    }
    .about {
      width: 80%;
      text-align: left;
    }
    img {
      margin: 0 auto;
    }
  }
  .page3 h4 { display: none; }

  .portfolio-nav {
    font-size: 0.8em;
  }
  .graphic, .web, .programming, .animation {
    flex-direction: column;
  }
  .portfolio-container {
    min-height: 120vw;
  }
  .column {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .half {
    height: 35vw;
    width: 35vw;
  }
}
