/********************/
/***** PAGE 2 *******/
/********************/

.page2 {
  background: #272727;
  color: #9e9e9e;
  background-image: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .page-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  .about {
    width: 35%;
    margin: 30px;
    padding: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-text {
    opacity: 0;
  }
  .about-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    border-radius: 50%;
    border: solid 10px #9e9e9e;
    box-shadow: 0 0 50px #000;
    opacity: 0;
    width: 40vw;
    height: 40vw;
  }
}
