/********************/
/***** PAGE 3 *******/
/********************/

.page3 {
  background: #272727;
  color: #9e9e9e;
  background-image: url("../img/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .page-container {
    height: 100%;
  }

  .slider-container {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portfolio-nav {
    padding-top: 20px;
    height: 50px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 10px;
      padding: 5px 0;
    }
  }
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vw;
  position: relative;
  .web,
  .graphic,
  .programming,
  .animation {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.portfolio-nav li {
  position: relative;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  height: 20px;
}

.animated-border {
  height: 3px;
  margin-top: 5px;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  z-index: -1;
  transition: all 0.2s ease;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}

.image-container {
  overflow: hidden;
  position: relative;
  &:hover {
    box-shadow: 1px 5px 5px #171717;
  }
  &:hover img {
    transform: scale(1.1);
  }
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .description {
    height: 100%;
    position: absolute;
    padding: 20px;
    font-size: 1em;
    background: rgba(39, 39, 39, 0.95);
    opacity: 0;
    transition-delay: 0.5s;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    top: 0px;
    right: 0px;
    left: 0px;
  }
  &:hover .description {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slick-slide {
  margin: 0 2em;
}

.nav-arrows {
  .nav-arrow-prev {
    left: 5%;
    border-right: none;
    border-top: none;
  }
  .nav-arrow-next {
    right: 5%;
    border-left: none;
    border-bottom: none;
  }
  span {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 8px solid rgba(150, 150, 150, 0.4);
    cursor: pointer;
    transform: rotate(45deg);
    transition: border-color 0.2s ease;
    &:hover {
      border-color: #9e9e9e;
    }
  }
}
